<div class="matchParamsWrapper">
  <div layout="row">
    <md-content flex>
      <h2>Select Energy Level</h2>
      <!--<md-select class="turntSelector" ng-model="player.selectedTurntness" ng-change="player.updateViewQueue(player.selectedTurntness)">
        <md-option ng-repeat="turntness in player.turntLevels" value="{{turntness}}">{{turntness}}</md-option>
      </md-select>-->
      <div class="turntometerWrapper md-whiteframe-z2">
        <md-slider ng-model="matchParams.selectedTurntness" min="1" max="11" ng-change="matchParams.updateMatches()" aria-label="Select Turntness" class="md-accent">
        </md-slider>
      </div>
    </md-content>
  </div>
</div>
