<!-- This is where we put the "player" partial. the "ui-view" section of index.html will house this view, and the "ui-view" of this partial holds any sub-views that need the player and queue to be persistent -->
<div class="playerContainer">
  <!--div id="iFrameHolder">
  </div-->
  <div layout="row">
    <!-- Playlist and Turntness selectors -->
    <div class="playlistControlContainer" flex>
      <div class="playlistWrapper">
        <div layout="row">
          <md-input-container>
            <label>Select A Playlist</label>
            <md-select class="playlistSelector" ng-model="player.selectedPlaylist" ng-change="player.getPlaylist(player.selectedPlaylist)">
              <md-option ng-repeat="playlist in player.playlists" value="{{playlist}}">{{playlist.name}}</md-option>
            </md-select>
          </md-input-container>
          <div class="playlistSpinnerWrapper" ng-if="player.playlistLoading">
            <h4>Grabbing your playlist!</h4>
            <md-progress-circular md-mode="indeterminate"></md-progress-circular>
          </div>
        </div>
        <!-- <h4>Selected Playlist: {{ player.selectedPlaylist.name }}</h4> -->
      </div>
      <div ui-view="matchParams"></div>
      <div ui-view="search"></div>
    </div>
    <div class="customPlaylistContainer" flex="55">
      <div ui-view="customPlaylist"></div>
      <div class="widgetWrapper"></div>
    </div>
    <div class="queueContainer" flex>
      <div ui-view="matches"></div>
      <div ui-view="graph"></div>
    </div>
    <div class=""></div>
  </div>  

</div>
