<!-- This is where we put the "player" partial. the "ui-view" section of index.html will house this view, and the "ui-view" of this partial holds any sub-views that need the player and queue to be persistent -->
<div class="playerContainer">
  <!--div id="iFrameHolder">
  </div-->
  <div class="queueContainer">
    <h3>Queue</h3>
    <ul class="songList">
      <li ng-repeat="song in player.queue">{{song.name}}</li>
    </ul>
  </div>
  <div class="spotifyPlayerContainer">
    <h3>Player</h3>
  </div>
  <button ng-click="player.logout()">Logout</button>
  
  <!-- Playlist and Turntness selectors -->
  <div class="playlistControlContainer">
    <div class="playlistWrapper">
      <h3>Select A Playlist</h3>
      <select class="playlistSelector" ng-model="player.selectedPlaylist" ng-options="playlist.name for playlist in player.playlists" ng-change="player.updateQueue()">
        <option value="">Choose playlist </option>
      </select>
      <h4>Selected Playlist: {{ player.selectedPlaylist }}</h4>
    </div>
    <div class="turntometerWrapper">
      <select class="turntSelector" ng-model="player.selectedTurntness" ng-options="turntness for turntness in player.turntLevels" ng-change="player.updateQueue()">
        <option value="">Choose turntness</option>
      </select>
      <h4>Selected turntness: {{ player.selectedTurntness }}</h4>
    </div>
  </div>

</div>
