<!-- This is where we put the "player" partial. the "ui-view" section of index.html will house this view, and the "ui-view" of this partial holds any sub-views that need the player and queue to be persistent -->

<div class="navContainer md-primary" ng-controller="MainController as main" layout="row"><!-- add in "ng-if" to not show in login -->
  <div class="navInnerContainer">
    <h3>atuned</h3>
    <md-button class="logoutButton" ng-click="main.logout()" ng-controller="MainController as main">Logout</md-button>
  </div>
</div>
<md-content class="playerContainer">
  <!--div id="iFrameHolder">
  </div-->
  <div layout="row" layout-sm="column" layout-md="column" class="playerRow">
    <!-- Column One Playlist and Turntness selectors -->
    <md-content class="playlistControlContainer" flex  layout-padding>
      <h2>Select Playlists to Filter</h2>
        <h4>Choose One or Many</h4>
      <div ng-show="player.isListOfUserPlaylistLoading">
        <md-progress-circular class="md-accent" md-diameter="20" md-mode="indeterminate">
        </md-progress-circular>
      </div>

        <div ng-hide="player.isPlaylistExist">Please make one or more playlists public.</div>
        <md-content class="checkboxWrapper md-whiteframe-z2" layout="column">
          <div flex ng-repeat="playlist in player.playlists" class="playlistCheckContainer">
            <md-checkbox ng-model="playlist.checked" ng-click="player.toggleCheck(playlist, !playlist.checked)">
              {{ playlist.name }}
              <md-progress-circular class="md-accent" md-diameter="20" md-mode="indeterminate" ng-if="playlist.loading"></md-progress-circular>
            </md-checkbox>
            <div class="playlistSpinnerWrapper" >
            </div>
          </div>

          <!-- loading-spinner -->
<!--           <div class="playlistSpinnerWrapper" ng-if="player.playlistLoading">
            <h4>Grabbing your playlist!</h4>
            <md-progress-circular md-mode="indeterminate"></md-progress-circular>
          </div> -->
          <div ui-view="search"></div>
        </md-content>
    </md-content>


    <!-- Column Two -->
    <div class="customPlaylistContainer playerColumn" flex>
      <!-- Turntness slider -->
      <match-params></match-params>
      <div ui-view="customPlaylist"></div>
    </div>

  </div>

</md-content>
