<!-- nested in the "player" view. TODO: make playlist-choosing "options", make turntometer -->
<div class="playlistControlContainer">
  <div class="playlistWrapper">
    <h3>Select A Playlist</h3>
    <select class="playlistSelector" ng-model="modifyPlaylist.selectedPlaylist" ng-options="playlist.name for playlist in modifyPlaylist.playlists" ng-change="modifyPlaylist.updateQueue()">
      <option value="">Choose playlist </option>
    </select>
    <h4>Selected Playlist: {{ modifyPlaylist.selectedPlaylist }}</h4>
  </div>
  <div class="turntometerWrapper">
    <select class="turntSelector" ng-model="modifyPlaylist.selectedTurntness" ng-options="turntness for turntness in modifyPlaylist.turntLevels" ng-change="modifyPlaylist.updateQueue()">
      <option value="">Choose turntness</option>
    </select>
    <h4>Selected turntness: {{ modifyPlaylist.selectedTurntness }}</h4>
  </div>
</div>
