<!-- nested in the "player" view. TODO: make playlist-choosing "options", make turntometer -->
<div class="playlistControlContainer">
  <div class="playlistWrapper">
    <h3>Select A Playlist</h3>
    <select class="playlistSelector" ng-model="playerControl.selectedPlaylist" ng-options="playlist.name for playlist in playerControl.playlists">
      <option value="">Choose playlist </option>
    </select>
  </div>
  <div class="turntometerWrapper">
    <select class="turntSelector" ng-model="playerControl.selectedTurntness" ng-options="turntness for turntness in playerControl.turntLevels">
      <option value="">Choose turntness</option>
    </select>
  </div>
</div>
