/* This contains our App-Specific CSS. it will be loaded AFTER 
the base CSS template file, so it takes priority over the generic 
template (NOT BOOTSTRAP) without modifying the template file*/

.bodyContainer, .viewContainer, .playerUIview, .playerContainer{
  height: 100%;
}
.playerContainer{
  max-width: 100%;
  margin: 0 auto;
}
.playerContainer>.playerRow{
  height: 100%;
}
.playerColumn{
  padding: 8px;
}
.leftToolBar, rightToolBar, md-sideNav, md-sideNav md-content{
      background-color: rgb(49, 49, 49);
}
md-sidenav {
  height: 100%;
  transition: all 1s cubic-bezier(0.25, 0.8, 0.25, 1);
}
.md-sidenav-left>md-content{
  padding-left: 20px;
}
.matchParamsWrapper md-content md-slider{
  margin-left: 9px;
}
.material-icons{
  font-size: 36px;
  height: 36px;
  width: 36px;
  margin: 40px 0;
}
.widgetContainer{
  text-align: center;
}
.navContainer{
  background-color: #303F9F;
  color: #fff;
}
.navInnerContainer{
  width: 1250px;
  margin: 0 auto;
}

[ng-drag] {
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

[ng-drag].drag-over {
  border: solid 1px red;
}

[ng-drag].dragging {
  opacity: 0.5;
}

[ng-drop].drag-enter {
  border: solid 5px red;
}

[ng-drop] div {
  width: 100%;
  position: relative;
  z-index: 2;
}

.customPlaylistContainer .md-button.md-fab.md-mini{
      line-height: 30px;
      min-height: 0px;
    width: 30px;
    height: 30px;
}


