<!-- this partial will be inserted into the "ui-view" in player.html labeled "search" -->
<input type="text" name="search" ng-change="search.autoComplete(searh.userInput)" ng-model="searh.userInput">
<div class="autocomplete">

  <table>
    <tr ng-repeat="candidate in search.candidates">
      <td>{{candidate.songName}}</td>
      <td>{{candidate.artist}}</td>
      <td>({{candidate.album}})</td>
    </tr>
  </table>
</div>
<!--button name="enter" ng-click="search.searchTracks(searh.userInput)"></button-->
