<!-- this partial will be inserted into the "ui-view" in player.html labeled "search" -->
<input type="text" name="search" ng-change="search.autoComplete(search.userInput)"
 ng-model="search.userInput" placeholder="search for artist" ng-keydown="search.keypress($event)">
<div class="autocomplete">
  <table>
    <tr class="artist" ng-repeat="candidate in search.candidates" ng-click="search.addSong(candidate)" ng-style="{'background-color': candidate.backgroundColor}">
      <td>{{candidate.artist_name}}</td>
    </tr>
  </table>
</div>
<!--button name="enter" ng-click="search.searchTracks(searh.userInput)"></button-->
